<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="base ::common_head">
<meta charset="utf-8" />
</head>
<body>
    <div class="container">
        <h2>Publisher Details</h2>
        <form th:object="${publisher}" th:action="@{/publishers/save/}"
            method="POST">
            <input type="hidden" th:field="*{id}" />
            <div class="input-field">
                <label th:for="name">Name</label> <input type="text" th:field="*{name}" />
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
</body>
</html>