<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="base ::common_head">
<meta charset="utf-8" />
</head>
<body>    
    <div class="container">
        <h2>Publishers</h2>
        <div th:if="${not #lists.isEmpty(publishers)}">
            <table class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th># of Titles</th>
                    <th colspan="2">Actions</th>
                </tr>
                <tr th:each="publisher : ${publishers}">
                    <td th:text="${publisher.id}"></td>
                    <td th:text="${publisher.name}"></td>
                    <td th:text="${publisher.titles.size()}"></td>
                    <td><a th:href="|/publishers/${publisher.id}/|">Edit</a></td>
                    <td><a th:href="|/publishers/${publisher.id}/delete/|">Delete</a>
                    </td>
                </tr>
            </table>
        </div>
        <a href="/publishers/new/">New Publisher</a>
    </div>
</body>
</html>
